<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Biozyme, Inc. Dealer Locator</title>

    <link rel="stylesheet" href="style/screen.css" media="screen, projection">

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-biozyme&v=3.27&libraries=places"></script>

    <script src="js/vendor/modernizr-1.6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/DealerLocator.js"></script>

    <script type="text/javascript" charset="utf-8">
      function formatPhone(phoneNum, link) {
          var regexObj = /^(?:\+?1[-. ]?)?(?:\(?([0-9]{3})\)?[-. ]?)?([0-9]{3})[-. ]?([0-9]{4})$/;
          if (regexObj.test(phoneNum)) {
              var parts = phoneNum.match(regexObj);
              var phone = "";
              if (parts[1]) { phone += "(" + parts[1] + ") "; }
              phone += parts[2] + "-" + parts[3];

              if (link){
                var hasIntlCode = /^\+\d/;
                if (!hasIntlCode.test(phoneNum)){
                  phoneNum = "+1" + phoneNum;
                }
                phone = '<a href="tel://' + phoneNum + '">' + phone + '</a>';
              }

              return phone;
          }
          else {
              //invalid phone number
              return phoneNum;
          }
      }

      function formatFile (filename) {
        return filename.replace(' ', '-').replace('®','').replace('™','')
      }

      function km2mi(km) {
        return km/1.6
      }

      function roundNumber(num, dec) {
        var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
        return result;
      }

      function gup(name)
      {
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.href);
        if(results == null)
          return "";
        else
          return results[1];
      }

      $(function() {
        var bounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(21.380577703264454, -127.8059154),
          new google.maps.LatLng(51.0200599173758, -49.23169665)
        ),
        places_options = {
          bounds: bounds,
          types: ['geocode'],
          componentRestrictions:{country:'us'}
        },
        $form  = $('#search_form'),
        $near_box = $('#near'),
        autocomplete = new google.maps.places.Autocomplete($near_box.get(0), places_options),
        geocoder = new google.maps.Geocoder();

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          $form.submit();
        });

        $form.submit(function(e) {
          e.preventDefault();

          window.search_location = null;
          var address = $near_box.val();
          geocoder.geocode({address: address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              window.app.navigate('', true);
              var location = results[0].geometry.location;
              window.search_location = location;
              window.app.mapView.center_on(location.lat(), location.lng());
            } else {
              alert("Could not find your location: " + status);
            }
          });
        });

        var $filters = $('.filters input');
        $filters.change(function() {
          window.dealers.set_product_lines_filter(
            _.map($filters.filter(':checked'), function(filter) {
              return filter.value;
            })
          );
        });

        //autofill from URL
        if(gup('near') != "") {
          var init_search = unescape(String(gup('near')).replace(/\+/g, " "));
          $near_box.val(init_search);
          $form.submit();
        }
      });
    </script>

      <script type="text/template" id="dealer-template">
        <span class="dealer-name"><%= name %></span>

        <address class="dealer-address">
          <%= address %><br />
          <%= city %>, <%= state %>
          <%= zipcode %>
        </address>

        <% if (phone !== null && phone.length > 0) { %>
          <span class="dealer-phone">
            <strong>Phone:</strong> <%= formatPhone(phone, true) %>
          </span>
        <% } %>

        <% if (email !== null && email.length > 0) { %>
          <strong>Email:</strong>
          <% for (var i=0; i < email.split(';').length; i++) { %>
          <a class="dealer-email" href="mailto:<%= email.split(';')[i] %>"><%= email.split(';')[i] %></a>
          <% } %>
        <% } %>

        <% if (fax !== null && fax.length > 0) { %>
          <span class="dealer-phone dealer-fax">
            <strong>Fax:</strong> <%= formatPhone(fax, false) %>
          </span>
        <% } %>

        <% if (website !== null && website.length > 0) { %>
          <span class="dealer-website">
            <a target="_blank" href="<%= website %>"><%= website %></a>
          </span>
        <% } %>

        <% if (typeof search_distance != 'undefined') { %>
          <span class="dealer-distance">
            <strong>Distance:</strong> <%= roundNumber(km2mi(search_distance), 2) %> miles
          </span>
        <% } %>

        <ul class='dealer-product-lines'>
          <% for (var i=0; i < product_lines.length; i++) { %>
            <li><img alt="<%= product_lines[i] %>" title="<%= product_lines[i] %>" src="/images/<%= formatFile(product_lines[i]) %>.jpg" /></li>
          <% } %>
        </ul>

        <% if (master_dealer == true){ %>
          <image alt="Master Dealer" title="Master Dealer" src="/images/master-dealer-icon-white.png" height="40px"/>
        <% } %>
      </script>

      <script type="text/template" id="asm-template">
        <% if (id != null) { %>
          <p>Area Sales Managers (ASMs) manage and provide support in their defined area. They are a good initial contact to help determine the products that best meet your needs and coordinate with a dealer to ensure they have product on-hand.</p>
          <h4>Your ASM</h4>
        <% } %>

        <% if (photo != null && photo.length > 0) { %>
          <img class='asm-picture' src='<%= photo_url %>' />
        <% } %>
        <span class='asm-name'><%= name %></span>

        <% if ((city != null && state != null && zipcode != null) && (city.length > 0 && state.length > 0 && zipcode.length > 0)) { %>
          <address class="asm-address">
            <%= city %>, <%= state %>
            <%= zipcode %>
          </address>
        <% } %>

        <% if (phone != null && phone.length > 0) { %>
          <span class="asm-phone"><%= formatPhone(phone, true) %></span>
        <% } %>

        <% if (email != null && email.length > 0) { %>
          <a class="asm-email" href="mailto:<%= email %>"><%= email %></a>
        <% } %>

      </script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <form method="get" accept-charset="utf-8" id="search_form">
          <input type="text" name="near" id="near" placeholder="Enter a city, state or ZIP code" class="query-field" />
        </form>

        <ul class="filters">
          <li>
            <strong>Product Lines:</strong>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='DuraFerm™' /> DuraFerm™</label>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='Gain Smart™' /> Gain Smart™</label>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='Sure Champ®' /> Sure Champ®</label>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='Vita Charge®' /> Vita Charge®</label>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='VitaFerm®' /> VitaFerm®</label>
          </li>
          <li>
            <label><input type='checkbox' checked='checked' value='Vitalize®' /> Vitalize®</label>
          </li>
        </ul>
      </div>
      <div id="body"></div>
    </div>
  </body>
</html>
