html, body { }
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans";
}
#container {
  margin: 0 auto;
  width: 100%; height: 75%;
}
#header {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #F6F6F6));
  padding: 10px 20px;
}
#header .query-field {
  -webkit-appearance: none;
  border-radius: 4.5px;
  box-shadow: inset 0 2px 2px #E0E0E0;
  font-size: 19px;
  padding: 8px 12px;
  width: 97%;
}
#body {
  background-color: white;
}
.dealers {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 25%;
  height: 520px;
}
.dealer {
  font-size: 11px;
}
.dealers .dealer {
  cursor: pointer;
  margin: 5px 5px 20px;
}
.dealers .dealer-address br {
  display: none;
}
.dealer-name {
  color: #15C;
  font-size: 13px; font-weight: bold;
}
.dealer-email, .dealer-phone, .dealer-website, .dealer-distance {
  display: block;
}
.dealer-phone strong, .dealer-fax strong, .dealer-distance strong, .dealer-email strong {
  color: #555;
}
.dealer-product-lines {
  list-style-type: none;
  overflow: auto;
  padding: 3px 0; margin: 0;
}
.dealer-product-lines li {
  float: left;
}
.master-dealer-icon {
  float: left;
  margin-right: 5px;
}
.master-dealer-explanation {
  color: #545454;
}
.master-dealer-explanation-heading {
  color: #EE7732;
  display: block;
}
.asm {
  background-color: #999;
  font-size: 11px;
  padding: 5px;
  min-height: 175px;
}
.asm h4 {
  margin: 5px 0;
}
.asm-name {
  color: #fff;
  font-size: 15px; font-weight: bold;
}
.asm-phone, .asm-email {
  display: block;
}
.asm-picture {
  float: right;
  width: 50px; height: 50px;
}
.filters {
  list-style: none;
  margin: 10px 0 0;
  overflow: auto;
  padding-left: 0;
}
.filters li {
  float: left;
  margin: 0 5px;
}
.map {
  width: 75%;
  height: 520px;
  float: right;
}
.map .dealer-distance {
  display: none;
}
#locator-legend {
  background: #fff;
  padding: 10px;
  margin: 0;
  border-top: 1px solid #da5f2f;
  border-right: 1px solid #da5f2f;
  border-bottom: 1px solid #da5f2f;
}
#locator-legend h4 {
  margin-top: 0;
}
#locator-legend img {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
#locator-legend .legend-entry {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
#locator-legend #legend-note {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 0;
  color: gray;
}

@media (max-width: 767px){
  .dealers {
    width: 100%;
    float: none;
  }
  .map {
    width: 100%;
    height: 400px;
    float: none;
  }
}
